/* css cart */
.cart-container {
font-family: "Open Sans", sans-serif;
margin: 0 auto;
width: 980px;
}

#cart {
width: 100%;
}

#cart h1 {
font-weight: 300;
}

#cart a {
color: #53b5aa;
text-decoration: none;

-webkit-transition: color 0.2s linear;
-moz-transition: color 0.2s linear;
-ms-transition: color 0.2s linear;
-o-transition: color 0.2s linear;
transition: color 0.2s linear;
}

#cart a:hover {
color: #000;
}

.product.removed {
margin-left: 980px !important;
opacity: 0;

}

.product {
border: 1px solid #eee;
margin: 20px 0;
width: 100%;
height: 195px;
position: relative;

-webkit-transition: margin 0.2s linear, opacity 0.2s linear;
-moz-transition: margin 0.2s linear, opacity 0.2s linear;
-ms-transition: margin 0.2s linear, opacity 0.2s linear;
-o-transition: margin 0.2s linear, opacity 0.2s linear;
transition: margin 0.2s linear, opacity 0.2s linear;
}

.product img {
width: 100%;
height: 100%;
}

.product header,
.product .cart-content {
background-color: #fff;
border: 1px solid #ccc;
border-style: none none solid none;
float: left;
}

.product header {
background: #000;
margin: 0 1% 20px 0;
overflow: hidden;
padding: 0;
position: relative;
width: 24%;
height: 195px;
}

.product header:hover img {
opacity: 0.7;
}

.product header:hover h3 {
bottom: 73px;
text-align: center;
}

.product header h3 {
background: #53b5aa;
color: #fff;
font-size: 22px;
font-weight: 300;
line-height: 49px;
margin: 0;
padding: 0 30px;
position: absolute;
bottom: -50px;
right: 0;
left: 0;

-webkit-transition: bottom 0.2s linear;
-moz-transition: bottom 0.2s linear;
-ms-transition: bottom 0.2s linear;
-o-transition: bottom 0.2s linear;
transition: bottom 0.2s linear;
}

.remove {
cursor: pointer;
}

.product .cart-content {
box-sizing: border-box;
-moz-box-sizing: border-box;
height: 140px;
padding: 0 20px;
width: 75%;
margin: 0px !important;
}

.product h1 {
color: black;
font-size: 25px;
font-weight: 300;
margin: 17px 0 20px 0;
}

.product footer.cart-content {
height: 50px;
margin: 6px 0 0 0;
padding: 0;
}

.product footer .price {
background: #fcfcfc;
color: #000;
float: right;
font-size: 15px;
font-weight: 300;
line-height: 49px;
margin: 0;
padding: 0 30px;
}

.product footer .full-price {
background: black;
color: #fff;
float: right;
font-size: 22px;
font-weight: 300;
line-height: 49px;
margin: 0;
padding: 0 30px;

-webkit-transition: margin 0.15s linear;
-moz-transition: margin 0.15s linear;
-ms-transition: margin 0.15s linear;
-o-transition: margin 0.15s linear;
transition: margin 0.15s linear;
}

.qt,
.qt-plus,
.qt-minus {
display: block;
float: left;
}

.qt {
font-size: 19px;
line-height: 50px;
width: 70px;
text-align: center;
}

.qt-plus,
.qt-minus {
background: #fcfcfc;
border: none;
font-size: 30px;
font-weight: 300;
height: 100%;
padding: 0 20px;
-webkit-transition: background 0.2s linear;
-moz-transition: background 0.2s linear;
-ms-transition: background 0.2s linear;
-o-transition: background 0.2s linear;
transition: background 0.2s linear;
}

.qt-plus:hover,
.qt-minus:hover {
background: black;
color: #fff;
cursor: pointer;
}

.qt-plus {
line-height: 50px;
}

.qt-minus {
line-height: 47px;
}

#site-footer {
margin: 30px 0 100px 0;
}

#site-footer {
padding: 40px;
}

#site-footer h1 {
background: #fcfcfc;
border: 1px solid #ccc;
border-style: none none solid none;
font-size: 24px;
font-weight: 300;
margin: 0 0 7px 0;
padding: 14px 40px;
text-align: center;
}

#site-footer h2 {
font-size: 24px;
font-weight: 300;
margin: 10px 0 0 0;
}

#site-footer h3 {
font-size: 19px;
font-weight: 300;
margin: 15px 0;
}

.left {
float: left;
}

.right {
float: right;
}

.btn {
background: #CCCCCC;
border: 1px solid #999;
border-style: none none solid none;
cursor: pointer;
display: block;
color: #fff;
font-size: 20px;
font-weight: 300;
padding: 16px 0;
width: 290px;
text-align: center;
font-weight: bold !important;

-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
}

.btn:hover {
color: #fff !important;
background: #7d7c7c;
}

.type {
background: #fcfcfc;
font-size: 13px;
padding: 10px 16px;
left: 100%;
}

.type,
.color {
border: 1px solid #ccc;
border-style: none none solid none;
position: absolute;
}

.color {
width: 40px;
height: 40px;
right: -40px;
}

.red {
background: #cb5a5e;
}

.yellow {
background: #f1c40f;
}

.blue {
background: #3598dc;
}

.minused {
margin: 0 50px 0 0 !important;
}

.added {
margin: 0 -50px 0 0 !important;
}

/* ////////payment///////////////// */
#check-pay{
    text-align: left;
    margin-top: 20px;
}
#count-qty{
    color: rgb(255, 255, 255); 
    position: relative; 
    top:-10px; 
    font-size:16px; 
    background-color: rgb(50, 196, 10);
    border-radius: 20px;
    width: 25px;
    height: 25px;
    padding-left: 7px;
}

#sum-count{
    display: flex;
}
/* @media (max-width: 700px){
    #sum-count{
        display: block;
        margin-left: 20%;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    }
}
@media (max-width: 1024px){
    #sum-count{
        margin-right: 100px;
    }
} */

#img-cart{
    display: flex;
}
@media (max-width: 768px){
    #img-cart{
        display: block;
    }
}

.size-selector {
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: flex;
    }

    .radio-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    position: relative;
    }

    .radio-buttons label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    }

    .radio-buttons input[type="radio"] {
    display: none;
    }

    .radio-buttons span {
        border-radius: 50px;
        border: 2px solid #8f8e8e;
        width: 50px;
        height: 50px;
        line-height: 48px;
        text-align: center;
    }

    .radio-buttons input[type="radio"]:checked + span {
    background-color: #000000;
    color: white;
    }

    .quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    }

    #input_quantity1 {
    width: 50%;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px;
    }

    .minus-btn, .plus-btn {
    width: 25%;
    height: 100%;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #555;
    padding: 0px 5px;
    }

    .minus-btn:hover, .plus-btn:hover {
    background-color: #e6e6e6;
    }

    .minus-btn:active, .plus-btn:active {
    background-color: #d9d9d9;
    }
    .container-input{
        display: flex;
    }

    